* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.white-box .box-title {
    text-align: center;
    text-transform: uppercase;
}

.btn-add {
    margin: 10px 0;
}


.action button {
    text-decoration: none;
    padding: 5px;
    border: none;
}

.action button .fa-edit {
    color: white;
}

.action button .fa-eye {
    color: white;
}

.action button .fa-trash-alt{
    color: white;
}

img.avatar-cover {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.row_element td {
    vertical-align:  middle!important;
}

.modal-backdrop {
  z-index: 0;
}

.switch {
    position: relative;
    display: block;
    width: 50px;
    height: 25px;
    margin: 0 5px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 30px;
}

.switch input {
    display: none;
}

.slider:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: 5px;
    bottom:  5px;
    background-color: white;
    transition: .4s;
    border-radius: 50px;
}

input:checked + .slider {
    background-color: #bada55;
}

input:checked + .slider:before {
    transform: translateX(25px);
}
